/*----------------------- UserDashboard.css -----------------------*/
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

body {
  overflow: hidden; /* Prevent scrolling on the entire page */
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--app-container);
}

.user-dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 24px;
  background: var(--header-bg);
  box-shadow: 0 2px 8px var(--header-shadow);
}

.user-dashboard__header-left {
  display: flex;
  align-items: center;
}

.user-dashboard__icon {
  width: 36px;
  height: 36px;
  font-size: 38px;
  color: #c08610;
  background: var(--link-color);
  border-radius: 50%;
}

.user-dashboard__name {
  font-weight: 700;
  font-size: 18px;
  margin-left: 12px;
  color: var(--link-color);
}

.user-dashboard__header-right {
  display: flex;
  align-items: center;
}



.user-dashboard__content {
  display: flex;
  flex-grow: 1;
}

.user-dashboard__sidebar {
  width: 72px;
  background: var(--header-bg);
  box-shadow: 0 2px 8px var(--header-shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  margin-left: 5px;
}

.user-dashboard__sidebar-link {
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: var(--link-color);
  background: transparent;
  transition: background-color 0.3s;
}
.user-dashboard__sidebar-link:focus,
.user-dashboard__sidebar-link:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.user-dashboard__projects-section {
  flex-grow: 1;
  padding: 24px;
  background-color: white;
  border-radius: 35px;
  margin-right: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: calc(94vh - 96px); /* Fixed height */
  margin-left: 10px;
}

.user-dashboard__projects-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
}

.user-dashboard__projects-section-header p {
  font-weight: 700;
  font-size: 24px;
  color: var(--main-color);
}

.user-dashboard__project-boxes {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  height: calc(100% - 48px); /* Subtract the header height */
  flex-grow: 1;
}


.user-dashboard__logout-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 37px;
  height: 37px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color:black;
  color: white;
}

/* plus sign */
.logout-sign{
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* text */
.logout-text{
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}
/* hover effect on button width */
.user-dashboard__logout-btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.user-dashboard__logout-btn:hover .logout-sign{
  width: 30%;
  transition-duration: .3s;
  padding-left: 9px;
}
/* hover effect button's text */
.user-dashboard__logout-btn:hover .logout-text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 5px;

}
/* button click effect*/
.user-dashboard__logout-btn:active {
  transform: translate(2px ,2px);
}


/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/
/*----------------------- Loader.css -----------------------*/

/*----------------------- Loader.css -----------------------*/

