/* Our Colors Pallete*/
pallete{
  color: #c08610; /* extra color logo , hovers, simple */
  color:#cec8be; /* background or shadow */
  color: #fff; /* fonts and background pages */
  color: #ddd; /* body background color */
  color: #808080; /* Shadows , hovers , fonts and */
  color: #000; /* fonts and borders */
  
}
/*----------------------- Loader.css -----------------------*/
.wrapper {
    width: 1000px;
    height: 600px;
    position: relative;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pl {
    width: 6em;
    height: 6em;
  }
  
  .pl__ring {
    animation: ringA 2s linear infinite;
  }
  
  .pl__ring--a {
    stroke: #000000;
  }
  
  .pl__ring--b {
    animation-name: ringB;
    stroke: #7e7e7e;
  }
  
  .pl__ring--c {
    animation-name: ringC;
    stroke: #686868;
  }
  
  .pl__ring--d {
    animation-name: ringD;
    stroke: #c08610;
  }
    
    /* Animations */
  @keyframes ringA {
    from, 4% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  
    12% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -335;
    }
  
    32% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -595;
    }
  
    40%, 54% {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -660;
    }
  
    62% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -665;
    }
  
    82% {
      stroke-dasharray: 60 600;
      stroke-width: 30;
      stroke-dashoffset: -925;
    }
  
    90%, to {
      stroke-dasharray: 0 660;
      stroke-width: 20;
      stroke-dashoffset: -990;
    }
  }
  
  @keyframes ringB {
    from, 12% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -110;
    }
  
    20% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -115;
    }
  
    40% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -195;
    }
  
    48%, 62% {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    70% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    90% {
      stroke-dasharray: 20 200;
      stroke-width: 30;
      stroke-dashoffset: -305;
    }
  
    98%, to {
      stroke-dasharray: 0 220;
      stroke-width: 20;
      stroke-dashoffset: -330;
    }
  }
  
  @keyframes ringC {
    from {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    8% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    28% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    36%, 58% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    66% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    86% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    94%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  @keyframes ringD {
    from, 8% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: 0;
    }
  
    16% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -5;
    }
  
    36% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -175;
    }
  
    44%, 50% {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -220;
    }
  
    58% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -225;
    }
  
    78% {
      stroke-dasharray: 40 400;
      stroke-width: 30;
      stroke-dashoffset: -395;
    }
  
    86%, to {
      stroke-dasharray: 0 440;
      stroke-width: 20;
      stroke-dashoffset: -440;
    }
  }
  
  
/*----------------------- Event.css -----------------------*/


/*----------------------- Ticket.css -----------------------*/
.ticketWrap {
  width: 25em;
  /* margin: 3em auto; */
  color: #fff;
  font-family: sans-serif;
  /* padding: 5px; */
  /* margin: -5px; */
  margin-top: -100px;
  height: 20em;
}

.ticket {
  background: linear-gradient(to bottom, #c08610 0%, #c08610 26%, #ecedef 26%, #ecedef 100%);
  height: 10em;
  float: left;
  position: relative;
  padding: 1em;
  margin-top: 100px;
}

.ticketLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 12em;
}

.ticketRight {
  width: 6.5em;
  border-left: 0.18em dashed #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  /* align-items: center; */
  text-align: center;
  /* justify-content: center; */
}
.ticketRight:before, .ticketRight:after {
  content: "";
  position: absolute;
  display: block;
  width: 0.9em;
  height: 0.9em;
  background: #fff;
  border-radius: 50%;
  left: -0.5em;
}
.ticketRight:before {
  top: -0.4em;
}
.ticketRight:after {
  bottom: -0.4em;
}

h1 {
  font-size: 1.1em;
  margin-top: 0;
}
h1 span {
  font-weight: normal;
}

.movieTitle, .ticketHolderName, .seatNumber, .showTime {
  text-transform: uppercase;
  font-weight: normal;
}
.movieTitle h2, .ticketHolderName h2, .seatNumber h2, .showTime h2 {
  font-size: 0.9em;
  color: #525252;
  margin: 0;
}
.movieTitle span, .ticketHolderName span, .seatNumber span, .showTime span {
  font-size: 0.7em;
  color: #a2aeae;
}

.movieTitle {
  margin: 2em 0 0 0;
}

.ticketHolderName, .seatNumber {
  margin: 0.7em 0 0 0;
}

.showTime {
  margin: 0.7em 0 0 1em;
}

.seatNumber, .showTime {
  float: left;
}

.eye {
  position: relative;
  width: 2em;
  height: 1.5em;
  background: #fff;
  margin: 0 auto;
  border-radius: 1em/0.6em;
  z-index: 1;
}
.eye:before, .eye:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
}
.eye:before {
  width: 1em;
  height: 1em;
  background: #000;
  z-index: 2;
  left: 8px;
  top: 4px;
}
.eye:after {
  width: 0.5em;
  height: 0.5em;
  background: #fff;
  z-index: 3;
  left: 12px;
  top: 8px;
}

.ticketNumber {
  text-align: center;
  text-transform: uppercase;
}
.ticketNumber h3 {
  color: #000;
  margin: 0.9em 0 0 0;
  font-size: 2.5em;
}
.ticketNumber span {
  display: block;
  color: #a2aeae;
}
.ticket-btn{
  /* display: block; */
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  background-color: #23c483;
  /* box-shadow: rgb(0 0 0 / 5%) 0 0 8px; */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 12px;
  transition: all 0.5s ease;
  margin-top: 5px;
}
.ticket-btn:hover{
  letter-spacing: 5px;
  background-color: #23c483;
  /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
  color:white;

}

.ticket-btn:active{
  letter-spacing: 5px;
  background-color: #23c483;
  /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
  color: hsl(0, 0%, 100%);
  transform: translateY(2px);
  transition: 100ms;
}

/*----------------------- Login.css -----------------------*/
.login-wrapper {
  --input-focus: #c08610;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --bg-color-alt: #666;
  --main-color: #323232;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-switch {
  transform: translateY(-200px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50px;
  height: 20px;
}

.login-card-side::before {
  position: absolute;
  content: 'Log in';
  left: -70px;
  top: 0;
  width: 100px;
  text-decoration: underline;
  color: var(--font-color);
  font-weight: 600;
}

.login-card-side::after {
  position: absolute;
  content: 'Sign up';
  left: 70px;
  top: 0;
  width: 100px;
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.login-toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.login-slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  transition: 0.3s;
}

.login-slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--bg-color);
  box-shadow: 0 3px 0 var(--main-color);
  transition: 0.3s;
}

.login-toggle:checked + .login-slider {
  background-color: var(--input-focus);
}

.login-toggle:checked + .login-slider:before {
  transform: translateX(30px);
}

.login-toggle:checked ~ .login-card-side:before {
  text-decoration: none;
}

.login-toggle:checked ~ .login-card-side:after {
  text-decoration: underline;
}

.login-flip-card__inner {
  width: 300px;
  height: 350px;
  position: relative;
  background-color: transparent;
  perspective: 1000px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.login-toggle:checked ~ .login-flip-card__inner {
  transform: rotateY(180deg);
}

.login-flip-card__front, .login-flip-card__back {
  padding: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #cec8be;
  ;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.login-flip-card__back {
  width: 100%;
  transform: rotateY(180deg);
}

.login-flip-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.login-title {
  margin: 20px 0 20px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

.login-flip-card__input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

.login-flip-card__input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.login-flip-card__input:focus {
  border: 2px solid var(--input-focus);
}

.login-flip-card__btn:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}

.login-flip-card__btn {
  margin: 20px 0 20px 0;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

/*----------------------- Notfound.css -----------------------*/

/*----------------------- component.css -----------------------*/

/*----------------------- component.css -----------------------*/

/*----------------------- component.css -----------------------*/

/*----------------------- component.css -----------------------*/

/*----------------------- component.css -----------------------*/
/*----------------------- component.css -----------------------*/

/*----------------------- component.css -----------------------*/

